body {
    margin: 0;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align:left;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    display: none;

    .blue {
        color: #4285f4;
    }
    .red {
        color: #ea4335;
    }
    .yellow {
        color: #fbbc06;
    }
    .green {
        color: #36a955;
    }
}

h2 {
    color: #dd4b39;
    font-size: 1.3rem;
    font-weight: 400;
    text-align:left;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    padding-left: 0.8rem;
    display: block;
}

h2.desk {
    display: none;
}

.header {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="submit"] {
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    outline: 0;
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    padding: 5px 10px 7px 10px;
    float:right;
}

input[type="submit"]:hover {
    border: 1px solid rgb(195, 195, 195);
    background-color: hotpink;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(211,211,211,1);
    box-shadow: 0px 1px 1px 0px rgba(211,211,211,1);
}

.container input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: left;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    padding: 4px 8px;
}

.container input[type="text"]:focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    border: 1px solid #4d90fe;
    outline: none;
}

.form-text {
    font-size: 0.9rem;
}

.text-intro {
    font-size: 1.1rem;
}

.links {
    text-align: right;
    margin-right: 1.5rem;
}

a {
    color: rgba(0,0,0,0.87);
    margin-left: 1rem;
    font-size: 0.9rem;
}

a:hover {
    color: #5F6368;
}

#delete-text {
    display: none;
    margin-right: 0.5rem;
}

.bi-search {
    height: 0.9rem;
    margin-left: 1rem;
    color: #9aa0a6;
}

.input_box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;   
}

.button_box {
    width: 90%;
    margin-left: auto; 
    margin-top: 1.5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

#search-box {
    background: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

#search-box:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(211,211,211,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(211,211,211,1);
    box-shadow: 0px 0px 5px 1px rgba(211,211,211,1);
}

#search-text {
    background-color: transparent !important;
    margin-left: 2%;
    width: 85%;
    border: none;
    // margin: 0;
    // padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    // display: flex;
    // flex: 100%;
    -webkit-tap-highlight-color: transparent;
    // margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.row {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    h1 {
        font-size: 4rem;
        display: block;
    }
    h2 {
        display: none;
    }
    .input_box {
        width: 32rem;
    }
    .col-sm-3 {
        min-width: 180px !important;
        max-width: 180px!important;
    }
    .pad {
        padding: 0;
    }
    h2.desk {
        display: block;
        padding-top: 1.5rem;
        padding-bottom: 0.8rem;
        padding-left: 3rem;
        font-weight: 400;
    }
    .container {
        margin-left: 2.5rem !important;
    }
    hr {
        margin-bottom: 2.2rem;
    }
    .advanced_search {
        width: 80vw;
        max-width: 800px;
    }
    .button_box {
        margin-right: 15vw;
    }
    .container input[type="text"] {
        width: 80%;
    }
    .submit {
        width: 80% !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    h1 {
        font-size: 5rem;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    h1 {
        font-size: 6rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    h1 {
    font-size: 8rem;
} }
